body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.mission-statement {
  font-size: 18px;
  margin-top: 50px;
  padding: 5px;
  text-align: left;
}

.feature-card {
  align-content: center;
  background-color: rgba(255, 251, 224, 1); /* Light yellow color */
  padding: 10px 50px;
  border: 2px solid rgba(252, 218, 5, 1); /* Yellow border */
  text-align: center; /* Center text within the feature card */
}

.feature-card p {
  text-align: center;
}

.feature-card h2 {
  text-align: center; /* Center the heading */
}
